<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <service
            android:name=".network.NaverMapService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="81dn8nvzim" />
    </application>

</manifest>